* {
  -fx-primary: #6200ee;
  -fx-secondary: #03dac5;
  -fx-gray: #606060;
}

.primary-btn {
  -fx-background-color: -fx-primary;
  -fx-text-fill: #fff;
}

.secondary-btn {
  -fx-background-color: -fx-secondary;
}


.tab-pane .tab-header-area .tab-header-background {
  -fx-opacity: 0;
}

.tab{
  -fx-background-insets: 0 1 0 1,0,0;
  -fx-pref-height: 60px;
}
.tab-pane .tab
{
  -fx-background-color: #ffffff;

}

.tab-pane .tab:selected
{
  -fx-background-color: #5da5ec;
}

.tab .tab-label {
  /*-fx-alignment: CENTER;*/
  -fx-pref-width: 150px;
  -fx-text-fill: #131313;
  -fx-font-size: 18px;
}

.tab:selected .tab-label {
  /*-fx-alignment: CENTER;*/
  -fx-text-fill: #ffffff;
}

